// Place all the styles related to the Bracket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-gutter {
	margin-left: 10px;
	margin-right: 10px;
}

.game {
	height: 70px;
	width: 100%;
}

.team {
	height: 20px;
}

.round1-top-spacer {
	margin-top: 10px;
}

.round1 {
	margin-bottom: 10px;
}

.round2-top-spacer {
	margin-top: 50px;
}

.round2 {
	margin-bottom: 90px;
}

.round3-top-spacer {
	margin-top: 130px;
}

.round3 {
	margin-bottom: 250px;
}

.round4-top-spacer {
	margin-top: 290px;
}

.round4 {
	margin-bottom: 570px;
}

.round5-top-spacer {
	margin-top: 620px;
}

.round5 {
	margin-bottom: 1210px;
}

.round6-top-spacer {
	margin-top: 1270px;
}

.round6 {
	margin-bottom: 2490px;
}
